@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="form-body">
    <section>
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="~/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3> Super Warehouse <br /> Pull it, Pack it, Ship it, Done!</h3>
                    <p>
                        The Best Asset Manager Around.
                    </p>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <section>
                        <form id="account" method="post">
                            <h4>Use a local account to log in.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>
    </section>
</div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }

            @*@page
                @model LoginModel

                @{
                    ViewData["Title"] = "Log in";
                }

                <div class="form-body">
                    <section>
                        <div class="website-logo">
                            <a href="index.html">
                                <div class="logo">
                                    <img class="logo-size" src="~/images/logo-light.svg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="img-holder">
                                <div class="bg"></div>
                                <div class="info-holder">
                                    <h3>Get more things done with Loggin platform.</h3>
                                    <p>
                                        Access to the most powerfull tool in the entire design and web industry.<br><br>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                                    </p>
                                </div>
                            </div>
                            <div class="form-holder">
                                <div class="form-content">
                                    <div class="form-items">
                                        <div class="page-links">
                                            <a asp-area="Identity" asp-page="/Account/Login" class="active">Login</a><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Register</a>
                                        </div>
                                        <form id="account" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <input asp-for="Input.Email" class="form-control" type="email"  placeholder="E-mail Address" required>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            <input asp-for="Input.Password" class="form-control" type="password" name="password" placeholder="Password" required>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            <div class="form-button">
                                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget15.html">Forget password?</a>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" type="checkbox" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="other-links">
                                                <span>Or login with</span><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-google"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="ibtn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>

                    @section Scripts {
                        <partial name="_ValidationScriptsPartial" />
                    }*@
