@page
@model LoginModel


@{
    ViewData["Title"] = "Log in";
}




<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="~/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3> Super Warehouse <br /> Pull it, Pack it, Ship it, Done!</h3>
                    <p>
                        The Best Asset Manager Around.
                    </p>
                </div>
            </div>
            <div style="height:350px;"></div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                            <div class="page-links">
                                <a href="login15.html" class="active">Login</a><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                            </div>
                            <form id="account" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                  
                                    <input asp-for="Input.Email" class="form-control" placeholder="E-mail Address" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                  
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input class="checkbox" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>*@
                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn">Login</button>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </div>    
                            </form>
                      
                  
                   
                
                           
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else
                                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">


                        <!--<div class="other-links">-->
                           
                            @*<a type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f"></i></a>*@
                            <!--<a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>-->

                        <div class="other-links">
                            <span>Or login with</span>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <a type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-f"></i></a>

                            }
                        </div>

                    </form>
                                }
                            }

                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
            
@section Scripts {
               
    <partial name="_ValidationScriptsPartial" />
            
}