@page
@using Warehouse.Utility
@model RegisterModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css2/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/css2/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/css2/iofrm-theme15.css">
</head>


<div class="form-body">
    <div class="website-logo">
        <a href="index.html">
            <div class="logo">
                <img class="logo-size" src="`~/images/logo-light.svg" alt="">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <h3>Moving The World.</h3>
                <p>
                    Pull it , Pack it , Ship it, Done.<br><br>
                    Get ready to access the most powerfull tool in the entire Logisits and Retail industry.
                </p>
            </div>
        </div>
        <div style="height:350px;"></div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="page-links">
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a><a asp-area="Identity" asp-page="/Account/Register" class="active">Register</a>
                    </div>
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="Input.Name" class="form-control" type="text" name="name" placeholder="Full Name" required />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>



                        <input asp-for="Input.Email" class="form-control" type="email" name="email" placeholder="Email" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>


                        <input asp-for="Input.PhoneNumber" class="form-control" type="tel" name="phonenumber" placeholder="PhoneNumber" required />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>


                        <input asp-for="Input.StreetAddress" class="form-control" type="text" name="streetaddress" placeholder="StreetAddress" required />

                        <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>


                        <input asp-for="Input.City" class="form-control" type="text" name="city" placeholder="City" required />
                        <span asp-validation-for="Input.City" class="text-danger"></span>

                        <input asp-for="Input.State" class="form-control" type="text" name="state" placeholder="State" required />
                        <span asp-validation-for="Input.State" class="text-danger"></span>


                        <input asp-for="Input.PostalCode" class="form-control" type="text" name="postalcode" placeholder="Zip Code" required />
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>



                        <input asp-for="Input.Password" class="form-control" type="password" name="password" placeholder="Password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>



                        <input asp-for="Input.ConfirmPassword" class="form-control" type="password" name="confirmpassword" placeholder="ConfirmPassword" required />

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                        @if (User.IsInRole(SD.ManagerUser))
                        {
                            <div class="form-group row">
                                <div class="other-links">
                                    <input type="radio" name="rdUserRole" value="@SD.Hr" checked /> @SD.Hr
                                    <input type="radio" name="rdUserRole" value="@SD.Packer" checked /> @SD.Packer
                                    <input type="radio" name="rdUserRole" value="@SD.Sales" checked /> @SD.Sales
                                    <input type="radio" name="rdUserRole" value="@SD.ShippingandReciving" checked /> @SD.ShippingandReciving
                                    <input type="radio" name="rdUserRole" value="@SD.OrderPuller" checked /> @SD.OrderPuller
                                    <input type="radio" name="rdUserRole" value="@SD.ManagerUser" checked /> @SD.ManagerUser
                                </div>
                            </div>
                        }

                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Register</button>
                        </div>

                        <div class="other-links">
                            <span>Or register with</span><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-google"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js2/jquery.min.js"></script>
<script src="~/js2/popper.min.js"></script>
<script src="~/js2/bootstrap.min.js"></script>
<script src="~/js2/main.js"></script>








@*<div class="form-group row">
            <div class="col-5 offset-2">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
        </div>
        </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@